extends _component/_partials/header

block config
    -
        var pageTitle = "Mountain Travel";
        var myDescription = "Made with Pug";

block content-page
    section.hero
        .background-image(style=`background-image:url('./asset/image/main.jpg');`)
        .hero-content-area
            h1 Mountain Travel
            h3 Unmissable Adventure Tours Around The World
            a.btn(href="#") Contact Us Now
    section.destinations
        h3.title Some of our destinations:
        p Tired of the ocean? Are the plains too plain? Come along with us on one of our mountain adventures. Here are some pictures from people who have had elevated experiences with us.
        hr
        ul.grid
            li.small(style=`background-image:url(./asset/image/mountain1.jpg)`)
            li.large(style=`background-image:url(./asset/image/mountain2.jpg)`)
            li.large(style=`background-image:url(./asset/image/mountain3.jpg)`)
            li.small(style=`background-image:url(./asset/image/mountain4.jpg)`)
    section.packages
        h3.title Tour Packages
        p We offer a variety of mountaneering packages. Wheter you've climbed Everest or don't even know what a mountain is, we've got the perfect vacation for you.
        hr
        ul.grid
            
            li
                i.icon-startupcompass2
                h4 Guided Trips
                p  Looking for the complete experience? Take a tour with one of our experts. They'll show you secrets that you're likely to miss otherwise.
            li
                i.icon-startupbinoculars
                h4 Photo Trips
                p Want to experience nature's beauty without all of that annoying exercise? Take a photo tour on one of our mountain buses.
            li
                i.icon-startuploop2
                h4 Biking Trips
                p If bycicles are more your speed, consider taking a tour through one of our mountain bike paths. We'll provide the bikes, and lunh too!
            li
                i.icon-startuptrophy
                h4 Racing Trips
                p Got a competitive spirit? Sign up for one of oour mountain marathons! Try to reach the summit before anyone else.
